.nav {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background-color: purple;
    // gap: 2rem;
    // padding: 3rem;
    color: #fff;
    font-size: .8rem;
    &--img {
        width: 4rem;
        // margin-right: 10rem;
        // margin-left: 10rem;
    }
    &--title {
        // margin-right: auto;
    }
    &--projectNumber {
        // margin-right: 10rem;
    }
}